*{
    padding: 0;
    margin: 0;
}

.container{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.img{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 40%;
    height: 400px;
}

.search{
    font-size: larger;
    font-weight: bold;
    color: rgb(36, 34, 34);
    line-height: normal;
    display: block;
    width: 600px;
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: none;
    background-color: rgb(228, 231, 231);
}

.btn{
    justify-content: center;
    display: inline-flex;
    margin-top: 30px;
    gap: 10px;
}

button{
    font-weight: bold;
    color: rgb(241, 245, 245);
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #6167c4;
}

.he{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
}